<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/1f4939e33e.js" crossorigin="anonymous"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>

<div th:fragment="editAnswerModal" >
    <div id="editAnswerModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" th:action="@{/answers/save}">
                    <div class="modal-header bg-light">
                        <h4 class="modal-title">Edit Answer</h4>
                        <button id="closeBtn" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <input id="id" type="hidden" name="id">
                        <div class="form-group">
                            <label for="user">From user</label>
                            <input type="text" id="user" class="form-control" readonly>
                        </div>
                        <div class="form-group">
                            <label for="questionText">Question</label>
                            <input id="questionText" type="text" class="form-control" readonly>
                        </div>

                        <div id="answer" class="form-group my-2 checkbox">
                            <label>Answer</label>
                        </div>

                        <div class="mt-4">
                            <button id="submitBtn" type="submit" class="btn btn-lg rounded-lg btn-primary btn-block btn-submit">
                                SUBMIT
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>