<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div th:fragment="forgotPasswordModal" >
        <div id="forgotPasswordModal" class="modal fade mt-5">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Forgot Password ?</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>It was necessary to remember</p>
                        <p><small>It's not my concern to remind it</small></p>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default border" data-dismiss="modal" value="Cancel">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>