<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link th:href="@{/css/table.css}" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</head>
<body>
  <div th:fragment="question-table" >
    <div class="container-xl w-75 my-5 mx-auto bg-white border rounded-lg">
      <div class="table-responsive">
        <div class="table-wrapper">
          <div class="table-title">
            <div class="row">
              <div class="col-sm-6">
                <h2 class="text-dark">Your questions</h2>
                <input type="hidden" id="loggedUser" th:value="${loggedUser.id}">
              </div>
              <div class="col-sm-6">
                <a href="#addQuestionModal" class="addQuestionModal btn btn-success bg-primary" data-toggle="modal"><i class="fa-solid fa-plus"></i> <span>Add question</span></a>
              </div>
            </div>
          </div>
          <table class="table table-striped table-hover" style="font-size: 11pt">
            <thead>
            <tr>
              <th>For user</th>
              <th>Question</th>
              <th>Answer Type</th>
              <th>Answer</th>
              <th></th>
            </tr>
            </thead>
            <tbody id="questionTable">
                <tr th:each="conversation : ${conversations}"  th:id="'conversation-'+ ${conversation.id}">
                  <div th:object="${conversation}">
                    <td><span th:text="*{receiver.email}"></span></td>
                    <td><span th:text="*{questionText}"></span></td>
                    <td><span th:text="*{answer.type.type}"></span></td>
                    <td>
                      <div th:if="${not #strings.contains(conversation.answer.text,'|')}">
                        <span th:text="*{answer.text}"></span>
                      </div>
                    </td>
                    <td class="icons-column">
                      <a th:href="@{/questions/edit/(id=*{id})}"
                         class="editQuestionModal"><i class="fa-solid fa-pen-to-square" data-toggle="tooltip" title="Edit"></i></a>
                      <a th:href="@{/questions/delete/(id=*{id})}"
                         class="deleteQuestionModal"><i class="fa-solid fa-trash-can" data-toggle="tooltip" title="Delete"></i></a>
                    </td>
                  </div>
                </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-between">
            <div class="hint-text">
              <p>
                <span th:text="${pageSize * pageNo + 1}"></span>-<span id="recordsCounts" th:text="${pageSize * pageNo} + ${#lists.size(conversations)}"></span> of <span id="totalRecordsCount" th:text="${conversationAmount}"></span>
              </p>
            </div>
            <div th:replace="fragments/table-parts.html :: pagination"></div>
            <div th:replace="fragments/table-parts.html :: rowsPerPage"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- Add Modal HTML -->
    <div th:replace="fragments/question-modals.html :: addQuestionModal"></div>
    <!-- Edit Modal HTML -->
    <div th:replace="fragments/question-modals.html :: editQuestionModal"></div>
    <!-- Delete Modal HTML -->
    <div th:replace="fragments/question-modals.html :: deleteQuestionModal"></div>
  </div>

  <div th:fragment="answers-table" >
    <div class="container-xl w-75 my-5 mx-auto bg-white border rounded-lg">
      <div class="table-responsive">
        <div class="table-wrapper">
          <div class="table-title">
            <div class="row">
              <div class="col-sm-6 my-table-title">
                <h2 class="text-dark">Answer the question</h2>
                <input type="hidden" id="loggedUser" th:value="${loggedUser.id}">
              </div>
            </div>
          </div>
          <table class="table table-striped table-hover" style="font-size: 11pt">
            <thead>
            <tr>
              <th>From user</th>
              <th>Question</th>
              <th>Answer</th>
              <th></th>
            </tr>
            </thead>
            <tbody id="answerTable">
            <tr th:each="conversation : ${conversations}" th:id="'conversation-'+ ${conversation.id}">
              <div th:object="${conversation}">
                <td><span th:text="*{sender.email}"></span></td>
                <td><span th:text="*{questionText}"></span></td>
                <td>
                  <div th:if="${not #strings.contains(conversation.answer.text,'|')}">
                    <span th:text="*{answer.text}"></span>
                  </div>
                </td>
                <td class="icons-column">
                  <a th:href="@{/answers/edit/(id=*{id})}"
                     class="editAnswerModal"><i class="fa-solid fa-pen-to-square" data-toggle="tooltip" title="Edit"></i></a>
                </td>
              </div>
            </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-between">
            <div class="hint-text"><p><span th:text="${pageSize * pageNo + 1}"></span>-<span th:text="${pageSize * pageNo} + ${#lists.size(conversations)}"></span> of <span th:text="${conversationAmount}"></span></p></div>
            <div th:replace="fragments/table-parts.html :: pagination"></div>
            <div th:replace="fragments/table-parts.html :: rowsPerPage"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- Edit Modal HTML -->
    <div th:replace="fragments/answer-modals.html :: editAnswerModal"></div>
  </div>
</body>
</html>