#emailAddress::-webkit-input-placeholder:after {
   content:"*";
   color:red;
   font-size:1.15em;
}

#emailAddress::-moz-placeholder:after {
     content:"*";
     color:red;
     font-size:1.15em;
 }
 #emailAddress:-ms-input-placeholder:after {
     content:"*";
     color:red;
     font-size:1.15em;
}